%button  {
    
    outline: none;
    border: none;
    padding: $padding-btn;
    border-radius: $border-btn;
    width:100px ;
    transition: background .4s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 10;

        &:hover{
            color: white;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: $primary-color;
            z-index: -1;
            transition: transform 0.5s  cubic-bezier(0.5,1.6,0.4,0.7);
            transform-origin: 0 0 ;
            transform: scaleX(0);
            border-radius: $border-btn;
            
            
        }
        
        
        &:hover::before{
            border-radius: $border-btn;
           transform: scaleX(1);
           
           
        }
}

%title-one{
    font-size: 50px ;
    // font-weight: bold;
    font-family: 'comfortaa', cursive, sans-serif;
    text-transform: capitalize;
    text-align: center;
}
%title-two{
    font-size: 30px ;
    font-family: 'Poppins';

}

@media screen and (max-width: 1100px) {
    %title-one{
        font-size: 40px ;
  
    }
    %title-two{
        font-size: 25px ;
     
    }
    
}
@media screen and (max-width: 850px) {
    %title-one{
        font-size: 30px ;
  
    }
    %title-two{
        font-size: 20px ;
     
    }
    
}
@media screen and (max-width: 320px) {
    %title-one{
        font-size: 25px ;
  
    }
    %title-two{
        font-size: 18px ;
     
    }
    
}